.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 0.2s;
}
.desc{
    padding:0 5px 0 5px ;
    text-decoration: solid;
}
img{
    width: 100%;
    border-radius:5px px 0 0 ;
}
.card:hover{
    box-shadow: 2px 4px 16px black;
}